pipeline/PL_Incremental_CSV_To_SQL.json
{
	"name": "PL_Incremental_CSV_To_SQL",
	"properties": {
		"description": "Incremental load from ADLS CSVs to Azure SQL DB",
		"activities": [
			{
				"name": "ForEach_Files",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.FileList",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SetVar_StagingName",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "stagingTableName",
								"value": {
									"value": "@concat('stg_', replace(item(), '.csv', ''))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetVar_TargetName",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SetVar_StagingName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "targetTableName",
								"value": {
									"value": "@if(equals(item(),'office.csv'),'Office',if(equals(item(),'order.csv'),'Orders','Products'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy_CSV_To_Staging",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "SetVar_TargetName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "*",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "TRUNCATE TABLE @{variables('stagingTableName')}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ADLS_CSV",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SQL_Staging",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@variables('stagingTableName')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "LKP_OldWatermark",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Copy_CSV_To_Staging",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT WatermarkValue\nFROM   watermark_table\nWHERE  TableName = '@{item()}'\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_SQL_Watermark",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "LKP_NewWatermark",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "LKP_OldWatermark",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT MAX(UpdatedAt) AS NewWatermark\nFROM   @{variables('stagingTableName')}\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_SQL_Staging",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@variables('stagingTableName')",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "Copy_Incremental_To_Target",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "LKP_NewWatermark",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT *\nFROM   @{variables('stagingTableName')}\nWHERE  UpdatedAt > '@{activity('LKP_OldWatermark').output.firstRow.WatermarkValue}'\n  AND  UpdatedAt <= '@{activity('LKP_NewWatermark').output.firstRow.NewWatermark}'\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"office_id",
											"order_id",
											"product_id"
										]
									},
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQL_Staging",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@variables('stagingTableName')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SQL_Target",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@variables('targetTableName')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "SP_UpdateWatermark",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "ForEach_Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_UpdateWatermark]",
					"storedProcedureParameters": {
						"NewWatermark": {
							"value": {
								"value": "@activity('LKP_NewWatermark').output.firstRow.NewWatermark",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "@item()",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQLDB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"FileList": {
				"type": "array",
				"defaultValue": [
					"office.csv",
					"order.csv",
					"product.csv"
				]
			}
		},
		"variables": {
			"stagingTableName": {
				"type": "String"
			},
			"targetTableName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}